[Unit]
Description=express-aws
After=network.target

[Service]
Type=simple
User=nginx
ExecStart=/usr/bin/npm run server
WorkingDirectory=/var/www/express-aws
Restart=always

[Install]
WantedBy=multi-user.target